.authWrapper {
    display: flex;
    min-height: 100vh ;
}

.illustrationWrapper {
    flex: 1 ;
    display: flex;
    flex-direction: column;
    padding: 2vh 6vw ;
    position: relative;
}
.illustrationWrapper > div > img {
    width: 80%;
    height: 80% ;
    object-fit: contain;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.iconContainer {
    background-color: white ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px ;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 4px ;
    left: 10px ;
}
.bar {
    width: 100% ;
    height: 1px ;
    background-color: var(--light-grey);
    margin: 40px 0px ;
}
.formWrapper {
    width: 620px;
    padding: 12vh 0px 4vh 0;
    display: flex;
    justify-content: center;
}
.formContainer {
    min-width: 330px ;
}
.formContainer > h1 {
    font-weight: 400 ;
    margin-bottom: 25px ;
    font-size: 1.5rem;
}
.barContainer {
    display: flex;
    align-items: center;
    color: var(--light-grey);
}
.barContainer > p {
    margin: 0 6px ;
}
.socialButtons {
    display: flex;
    flex-direction: column;
}

.formControl {
    display: flex;
    flex-direction: column;
}

.formControl > div {
    margin: 10px 0 ;
}
.submitContainer {
    display: flex;
    align-items: center;
    color: var(--light-grey);
    font-weight: 500;
}
.formEnd {
    margin: 15px 0 ;
}
.rememberCheck, .formEnd {
    display:flex ;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
@media screen and (max-width: 970px) {
    .illustrationWrapper {
        display: none;
    }
    .formWrapper {
        width: 100%;
    }
}

.formContainer  {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 425px) {
    .formContainer {
        max-width: 85vw;
        min-width: 0;
    }
    .formEnd, .rememberCheck {
        flex-direction: column;
        align-items: flex-start;
    }
    .formEnd > a {
        margin: 7px 0 ;
    }
    .rememberCheck > a {
        align-self: flex-end;
    }
}