.sidebar_wrapper {
    width: 250px ;
    padding: 10px 0 ;
    display: flex;
    flex-direction: column;
    color: white ;
    box-shadow: 1px 1px 12px rgb(145,145,145);
}
.sidebar_logo {
    align-self: center;
    margin-bottom: 20px ;
}
.sidebar_logo > img {
    object-fit: contain;
}

.sidebar_wrapper p {
    color: rgb(145,145,145) ;
    margin-left: 10px ;
}
.MuiButtonBase-root {
    color: black ;
}