.sidebar_wrapper {
    width: 250px ;
    padding: 10px 0 ;
    display: flex;
    flex-direction: column;
    color: white ;
    box-shadow: 1px 1px 12px rgb(145,145,145);
    overflow-x: hidden;
}
.sidebar_logo {
    align-self: center;
    margin-bottom: 20px ;
}
.sidebar_logo > img {
    object-fit: contain;
}

.sidebar_wrapper > p {
    color: rgb(145,145,145) ;
    margin-left: 15px ;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px; 
}
.MuiButtonBase-root {
    color: black ;
}